.App {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  margin: 5px;
  list-style: none;
}

header {
  position: fixed;
  margin: auto;
  left: 28vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: fit-content;
}

.input-form {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.select-form {
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.submit-btn {
  padding: 5px 10px;
  color: white;
  background-color: #0066cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #004a99;
}

.category-list {
  position: relative;
  top: 150px;
  display: flex;
  margin: 20px;
}

.card {
  padding: 10px;
  margin: 10px 0px;
  outline: auto 3px black;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.category-card,
.checklist-card {
  position: relative;
  background-color: rgb(235, 214, 174);
  margin: 10px;
  min-width: 260px;
}

.thing-card {
  position: relative;
  /* background-color: rgb(225, 234, 177); */
  width: 230px;
  cursor: pointer;
  z-index: 5;
}

.details-card {
  position: fixed;
  background-color: rgb(225, 234, 177);
  margin: 20px;
  min-width: 450px;
  max-width: fit-content;
  min-height: 200px;
  top: 50%; /* Vertically center the element */
  left: 50%; /* Horizontally center the element */
  transform: translate(-50%, -50%); /* Center the element exactly */
  z-index: 20;
}

.popup-bg {
  background-color: rgba(0, 0, 0, 0.608);
  position: fixed; /* Add this line to make the z-index work */
  top: 0; /* You may need to adjust the position depending on your layout */
  left: 0; /* You may need to adjust the position depending on your layout */
  width: 100%; /* Make it cover the entire viewport */
  height: 100%; /* Make it cover the entire viewport */
  z-index: 10;
}
